{% extends "base.html" %}

{% block contenu %}

<!-- Page Header Start -->
<div class="card text-bg-dark">
    <img src="https://miro.medium.com/v2/resize:fit:3800/1*dZLezGC0iphQZH_72bRdUw.jpeg" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h1 class="card-title fw-bold">Nous Contacter</h1>
    </div>
  </div>
<!-- Page Header End -->

<!-- Contact Start -->
<div class="py-5">
        <div class="row">
            <div class="col-4">
                <div class="h-100 bg-primary rounded d-flex align-items-center p-5">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white" style="width: 55px; height: 55px;">
                        <i class="fa fa-map-marker-alt text-primary"></i>
                    </div>
                    <div class="ms-4">
                        <p class="mb-2 text-white">Adresse</p>
                        <h5 class="mb-0 text-white">Nongo, Ratoma - Conakry/Guinée</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="h-100 rounded d-flex align-items-center p-5" style="background-color: darkblue;">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white" style="width: 55px; height: 55px;">
                        <i class="fa fa-phone-alt text-primary"></i>
                    </div>
                    <div class="ms-4">
                        <p class="mb-2 text-white">Telephone</p>
                        <h5 class="mb-0 text-white">+224 625 476 547</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="h-100 bg-primary rounded d-flex align-items-center p-5">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white" style="width: 55px; height: 55px;">
                        <i class="fa fa-envelope-open text-primary"></i>
                    </div>
                    <div class="ms-4">
                        <h5 class="mb-2 text-white">Envoyez-nous un mail</h5>
                        <p class="mb-0 text-white">oumoubarry2028@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
</div>
<!-- Contact End -->

{% endblock %}