{% extends "base.html" %}

{% block contenu %}

<div>
    <div class="card mt-4 mb-2" style="background: linear-gradient(#1a3138, #9494e6);">
        <h1 class="text-white text-center fw-bold">Formulaire d'Achat {{voiture.marque}}</h1>
    </div>
    <form method="POST" style="background-color: #0707525c;" class="row g-3 my-3 p-3">
      {% csrf_token %}
        <div class="col-md-6">
          <label for="nom" class="form-label fw-bold">Nom</label>
          <input type="text" class="form-control" id="nom" name="nom" placeholder="veillez saisir votre nom">
        </div>
        <div class="col-md-6">
          <label for="prenom" class="form-label fw-bold">Prenom</label>
          <input type="text" class="form-control" id="prenom" name="prenom" placeholder="veillez saisir votre prenom">
        </div>
        <div class="col-md-6">
          <label for="email" class="form-label fw-bold">Email</label>
          <input type="text" class="form-control" id="email" name="email"  placeholder="veillez saisir votre email">
        </div>
        <div class="col-md-6">
          <label for="phone" class="form-label fw-bold">Téléphone</label>
          <input type="text" class="form-control" id="phone" name="phone"  placeholder="veillez saisir votre numero de téléphone">
        </div>
        <div class="col-md-6">
          <label for="adresse" class="form-label fw-bold">Adresse</label>
          <input type="text" class="form-control" id="adresse" name="adresse"  placeholder="veillez saisir votre adresse">
        </div>
        <div class="col-md-6">
          <label for="ville" class="form-label fw-bold">Ville</label>
          <select id="ville" name="ville" class="form-select">
            <option disabled>Selectionnée une ville</option>
            <option>Conakry</option>
            <option>Kindia</option>
            <option>Mamou</option>
            <option>Labe</option>
          </select>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Commander</button>
        </div>
      </form>
</div>

{% endblock %}